<%-include("partials/header.ejs") %>

<main>
    <div class="head">
        <h1><%= listTitle %></h1>
    </div>

    <div id="list">
        <% if(locals.newTask){ %>
                <% newTask.forEach(item => { %>
                <form action="/delete" method="POST">
                    <div class="listItem">
                        <input type="checkbox" onchange="this.form.submit()" name="deleteTask" value="<%= item._id %>">
                        <p class="strike"><%= item.task %></p>
                        <input type="hidden" name="listName" value="<%= listTitle %>">
                    </div>
                </form>
                <% }); %>
        <% } %>

        <form class="listItem" action="/today" method="POST">
            <button type="submit" name="postListName" value="<%= listTitle %>">+</button>
            <input type="text" placeholder="Enter new task" name="NewTask" autocomplete="off">
        </form>
    </div>

</main>

<%-include("partials/footer.ejs") %>